<% color = @participation.success? ? "success" : "fail" %>
<h1><%= t('.header', title: @participation.test.title) %></h1>
<% if @participation.success? %>
  <h2><%= t('.congratulations') %></h2>
<% else %>
  <h2><%= t('.condolences') %></h2>
<% end %>
<h2 class="<%= color %>"><%= t('.result') %> <%= @participation.total_result %>%.</h2>

<%= render "linktests" %>