<%= form_with(url: sessions_path, local: true) do |f| %>
  <%= flash_message %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, id: :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, id: :password %>
  </p>
  <p>
    <%= f.submit 'Отправить' %>
  </p>
<% end %>
