<div class="container">
  <div class="col col-md-6">
<<<<<<< HEAD
<<<<<<< HEAD
    <%= badges_header(@badge) %>
=======
>>>>>>> 8171ea8... create badges for admin
=======
    <%= badges_header(@badge) %>
>>>>>>> d261899... localize badges and rules for admin and users
    
    <%= render 'shared/errors', resource: @badge %>

    <%= form_with(model: [:admin, @badge], local: true) do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: true, class: "form-control" %>
        </p>
        <p>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f5a79f3... fix badge path, create rules constructor, refactoring
          <div class="row">
            <% Badge::IMAGES.map do |img| %>
              <div class="col-sm-4">
                <%= f.radio_button :route, img[1] %>
                <%= image_tag(img[1], width: '100px') %>
              </div>
            <% end %>
          </div>
<<<<<<< HEAD
        </p>
        <p>
          <%= f.label :rule %>
          <%= f.collection_select(:rule_id, Rule.all, :id, :description, prompt: true) %>
          <%= link_to t('.create_new_rule'), new_admin_rule_path, class: "btn btn-secondary" %>
=======
          <%= f.label :path %>
          <%= f.file_field :route %>
        </p>
        <p>
          <%= f.label :rule %>
          <%= f.collection_select(:rule_id, Rule.all, :id, :rule_with_params, prompt: true) %>
>>>>>>> 8171ea8... create badges for admin
=======
        </p>
        <p>
          <%= f.label :rule %>
          <%= f.collection_select(:rule_id, Rule.all, :id, :description, prompt: true) %>
          <%= link_to t('.create_new_rule'), new_admin_rule_path, class: "btn btn-secondary" %>
>>>>>>> f5a79f3... fix badge path, create rules constructor, refactoring
        </p>
        <div class="row">
          <div class="col col-md-6">
            <%= f.submit class: "btn btn-primary" %>
<<<<<<< HEAD
<<<<<<< HEAD
            <%= link_to t('.back'), admin_badges_path, class: "nav-link" %>
=======
            <%= link_to t('.back'), admin_tests_path, class: "nav-link" %>
>>>>>>> 8171ea8... create badges for admin
=======
            <%= link_to t('.back'), admin_badges_path, class: "nav-link" %>
>>>>>>> d261899... localize badges and rules for admin and users
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>
