<div class="container">
  <div class="col col-md-6">
    
    <%= render 'shared/errors', resource: @badge %>

    <%= form_with(model: [:admin, @badge], local: true) do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: true, class: "form-control" %>
        </p>
        <p>
          <%= f.label :path %>
          <%= f.file_field :route %>
        </p>
        <p>
          <%= f.label :rule %>
          <%= f.collection_select(:rule_id, Rule.all, :id, :rule_with_params, prompt: true) %>
        </p>
        <div class="row">
          <div class="col col-md-6">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to t('.back'), admin_tests_path, class: "nav-link" %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>
