<div class="container">
  <div class="col col-md-6">
    <%= test_header(@rule) %>
    
    <%= render 'shared/errors', resource: @rule %>

    <%= form_with(model: [:admin, @rule], local: true) do |f| %>
      <div class="form-group badge-rule">
        <p>
    
          <%= f.label :name %>
          <%= f.select(:name, options_for_select(Rule::RULES), prompt: true) %>


        </p>
        <p>
          <fieldset disabled class="choose-level">
            <label class="form-check-label text-muted" id="label-add-level">
              <%= t('.level')%>
            </label>
            <%= f.collection_radio_buttons :params, (1..5).map{ |n| [n, n] }, :first, :last, class: "form-control" %>
          </fieldset>
        </p>
        <p>
          <fieldset disabled class="choose-category">
            <label class="form-check-label text-muted" id="label-add-category">
              <%= t('.category')%>
            </label>
            <%= f.collection_select(:params, Category.all, :title, :title, prompt: true) %>
          </fieldset>
        </p>
        <p>
          <%= f.label :description %>
          <%= f.text_field :description, placeholder: true, class: "form-control" %>
        </p>
        <div class="row">
          <div class="col col-md-6">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to t('.back'), new_admin_badge_path, class: "nav-link" %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>
