<div class="container">

  <% if @badges.present? %>
    <div class="row"> 
      <div class="col-12">
        <h1><%= t('.header') %></h1>
      </div>
    </div>
    
    <div class="row">
      <% @badges.each_slice(3) do |badges_group| %>
        <% badges_group.each do |badge| %>
          <div class="col-sm-4">
            <div class="card test-card" >
              <%= image_tag image_path(badge.route), class: "card-img-top" , id: 'badge_image' %>
<<<<<<< HEAD
<<<<<<< HEAD
=======
              <img class="card-img-top" src="<%= badge.route %>" alt="<%= badge.route %>">
>>>>>>> 4792f79... show earned and left badges for user
=======
>>>>>>> f5a79f3... fix badge path, create rules constructor, refactoring
              <div class="card-body">
                <h5 class="card-title"><%= badge.name %></h5>
                <p class="card-text"><%= badge.rule.description %></p>
              </div>
            </div>
          </div>          
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @not_rewarded_badges.present? %>
    <div class="wrapper disable">
      <div class="row"> 
        <div class="col-12">
          <h1><%= t('.left_badges') %></h1>
        </div>
      </div>

      <div class="row">
        <% @not_rewarded_badges.each_slice(3) do |badges_group| %>
          <% badges_group.each do |badge| %>
            <div class="col-sm-4">
              <div class="card test-card" >
                <%= image_tag image_path(badge.route), class: "card-img-top" , id: 'badge_image' %>
<<<<<<< HEAD
<<<<<<< HEAD
=======
                <img class="card-img-top" src="<%= badge.route %>" alt="<%= badge.route %>">
>>>>>>> 4792f79... show earned and left badges for user
=======
>>>>>>> f5a79f3... fix badge path, create rules constructor, refactoring
                <div class="card-body">
                  <h5 class="card-title"><%= badge.name %></h5>
                  <p class="card-text"><%= badge.rule.description %></p>
                </div>
              </div>
            </div>          
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>