<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/errors', resource: @user %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, id: :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, id: :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, id: :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, id: :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Отправить' %>
  </p>
<% end %>