<div class="container"> 
    <div class="row text-center">
      <div class="col">
        <%= link_to t('.feedback'), contact_us_path %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <%= current_year %> <%= t('.copyright') %> <%= github_url('ellerden', 'test-guru') %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <%= t('.about_project') %> <a target="_blank" href="https://thinknetica.com"> Thinknetica </a> 
      </div>
    </div>
</div>
