<p class="nav user">
  <%= link_to 'TestGuru', root_path %>
  <% if logged_in? %>
    Добро пожаловать, <b><%= current_user.username%></b>!
    <%= link_to 'Выйти', logout_path %>
  <% else %>
    <%= link_to 'Войти', login_path %>
    <%= link_to 'Регистрироваться', signup_path %>
  <% end %>
</p>
