<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestMeister', root_path, class: 'navbar-brand' %>
  <% if user_signed_in? && current_user.admin_rights?%>
  <%= link_to t('.admin_panel_title'), admin_tests_path, class: 'navbar-brand' %>
  <% end %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %> <b><%= current_user.first_name %></b>!
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.login'), new_user_session_path %>
      <%= link_to t('.signup'), new_user_registration_path %>
    <% end %>
  </span> 
</nav>
