<%= form_with(model: [:admin, @question, @answer], local: true) do |f| %>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text, id: :answer_text, rows: 7, cols: 60 %>
  </p>

  <p>
    <%= f.label :correct %>
    <%= f.check_box :correct, id: :answer_correct %>
  </p>
  <p>
    <%= f.submit 'Создать ответ' %>
  </p>
<% end %>
