<%= form_with(model: [:admin, @question, @answer], local: true) do |f| %>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text, id: :text, rows: 7, cols: 60, placeholder: true  %>
  </p>

  <p>
    <%= f.label :correct %>
    <%= f.check_box :correct, id: :correct %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
