<%= test_header(@test) %>
<%= form_with(model: [:admin, @test], local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: true %>
    <p>
      <%= f.label :level %> 
      <%= f.collection_radio_buttons :level, (1..5).map{ |n| [n, n] }, :first, :last %>
    </p>
    <p> 
      <%= f.label :category_id %>
      <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: :true) %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </div>
 <% end %>