<div class="container">
  <div class="col col-md-6">
    <%= test_header(@test) %>
    
    <%= render 'shared/errors', resource: @test %>

    <%= form_with(model: [:admin, @test], local: true) do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: true, class: "form-control" %>
        </p>
        <p>
          <%= f.label :level %> 
          <%= f.collection_radio_buttons :level, (1..5).map{ |n| [n, n] }, :first, :last, class: "form-control" %>
        </p>
        <p>
          <%= f.label :category_id %>
          <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: :true) %>
        </p>
        <div class="form-check timer">
          <input type="checkbox" class="form-check-input" id="add-time">
          <fieldset disabled class="time-selector">
            <label class="form-check-label text-muted" id="label-add-time">
              <%= t('.test_with_time')%>
            </label>
            <%= f.time_select :recommended_time, { default: {hour: '00', minute: '00'}, minute_step: 5} %>
          </fieldset>

        </div>
        <div class="row">
          <div class="col col-md-6">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to t('.back'), admin_tests_path, class: "nav-link" %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>

