<div class="form-group">
  <div class="row"> 
      <div class="col col-12">
        <h1><%= t('.header') %></h1>
      </div>
  </div>
  <div class="row"> 
      <div class="col col-12">
        <%= link_to 'Создать тест', new_admin_test_path, class:'btn btn-primary' %>
      </div>
  </div>
</div>

<%= render 'shared/errors', resource: @test %>

<% if @tests.present? %>
  <div class="row">
    <% @tests.each_slice(3) do |two_tests| %>
      <% two_tests.each do |test| %>
          <div class="col col-sm-4">
            <div class="card test-card" >
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <%= link_to t('.show'), admin_test_path(test), class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('.edit'), 
                                edit_admin_test_path(test), 
                                data: { test_id: test.id }, 
                                class: 'nav-link form-inline-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('.delete'), admin_test_path(test), method: :delete, class: 'nav-link' %>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <%= content_tag :h4, test.title, class: 'card-title test-title', data: { test_id: test.id } %>

                <%= render 'form_inline', test: test == @test ? @test : test %>

                <p><%= t('.category') %>: <%= test.category.title %></p>
                <p><%= t('.level') %>: <%= test.level %> </p>
                <p><%= t('.questions_number') %>: <%= test.questions.count %></p>
                <% if test.recommended_time %> 
                  <p><%= t('.recommended_time') %>: <%= test.time %></p>
                <% end %>
              </div>
            </div>
          </div>          
      <% end %>
    <% end %>
  </div>
<% end %>
