<h1> <%= test_header(@test) %> </h1>
<%= form_with(model: @test, local: true) do |f| %>
  <div>
    <%= f.label 'Название теста' %>
    <%= f.text_field :title, placeholder: "Введите название теста" %>
    <p>
      <%= f.label 'Уровень' %> 
      <%= f.collection_radio_buttons :level, (1..5).map{ |n| [n, n] }, :first, :last %>
    </p>
    <p> 
      <%= f.label 'Категория' %>
      <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: true) %>
    </p>
  </div>
   <%= f.submit 'Отправить' %>
 <% end %>