<tr>
<td> <%= test.id %></td>
<td> <%= test.title %></td>
<td>Категория: <%= test.category.title %></td>
<td>Уровень: <%= test.level %></td>
<td>Кол-во вопросов: <%= test.questions.count %></td>
<br>
</tr>