<% if @tests.present? %>
  <h1><%= t('.header') %></h1>
  <div class="row">
    <%= link_to t('.to_div'), tests_path, class: "nav-link" %>
  </div>
  <table class="table">
    <thead>
        <tr>
          <th scope="col" class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: "text-success hide" %>
            <%= octicon 'arrow-down', class: "text-success hide" %>
          </th>
          <th scope="col"><%= t('.category') %></th>
          <th scope="col"><%= t('.level') %></th>
          <th scope="col"><%= t('.questions_number') %></th>
          <th scope="col"><%= t('.action') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests%>
      </tbody>
    </table>
<% end %>

